
@import url('https://fonts.googleapis.com/css?family=Be+Vietnam&display=swap');


/*------- General -------*/


html {
  --background: #000;
  --foreground: #fff;
  --midground: #252525;
  --altforeground: #717171;
  --gbcolor: #56abff;

}

/* -------- body -------*/

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Be Vietnam', sans-serif;
}

/* -------- Fondo -------*/

.slider {
	width: 100%;
	height:100px;
	background-image: url(/img/overview.jpg);
	background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

ul {
  list-style-type: none;
  overflow: hidden;
  }
  
  li {
  float: left;
  }
  
  li a {
  display: block;
  text-align: center;
  text-decoration: none;
  }


a {
  color: var(--foreground);
}


.actions {
  background-color: var(--background);
  color: var(--foreground);
}

.Program {
  text-align: center;
  line-height: 1.7;
  padding: 1em 1em 18em 1em;
  background-size: auto 80%;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.light {
  background-color: var(--foreground);
  color: var(--background);
}
.dark {
  background-color: var(--background);
  color: var(--foreground);
}


/* -------- Apply Butom-------*/

.boton {
  
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  background: #005293;
  min-width: 23px;
  padding-left: 11px;
  padding-right: 11px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 12px;
  line-height: 1.33337;
}

.boton-name {
  color: #fff;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 200;
  letter-spacing: 0.0em;
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;

}
  
.list {
  font-display: #252525;
  font-size: 0.9em;
  text-align: center;
  text-decoration: #252525

}

.list-style-type {
  list-style-type: disc;
  align-self: center;
}


.Program-name {
  font-size: 2em;
  font-weight: 500;
}

.Program-subpoint {
  color: var(--altforeground);
  font-size: 0.9em;
}

.Program-links2 {
  display: inline-block;
  margin: 0 0.5em;
}

.Program-links2 a {
  color: var(--gbcolor);
  text-decoration: none;
  font-size: 1.2em;
  text-align: center;
  
}
.Program-links2 a:hover {
  text-decoration: underline;
}
.Program-links2 a::after {
  content: " >";
}



/* ----- MEDIA ------ */



@media screen and (min-width: 900px) {
  .actions {
    background-color: black;
  }

  .actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1325px) {
  .actions {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

